<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/deleteStudent.css">
</head>

<body>
	<div class="container">
        <form action="/students/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <div class="form-group">
                <label for="student_id">Student ID</label>
                <input type="text" id="student_id" name="studentId">
            </div>
            <div class="button">
                <button type="submit">Delete Student</button>
            </div>
        </form>
    </div>
</body>

</html>
