<!DOCTYPE html>
<html>
<head>
	  <link rel="stylesheet" type="text/css" href="/css/index.css">
    
</head>
<body>
    <h2>Choose Option</h2>

    <div class="button-container">
		<a href="/addStudent">
        <button class="button" id="Add Student">Add Student</button>
        </a>
        <a href="/fetchStudent">
        <button class="button" id="Find Student">Find Student</button>
        </a>
        <a href="/updateStudent">
        <button class="button" id="Update Student">Update Student</button>
        </a>
        <a href="/deleteStudent">
        <button class="button" id="Delete Student">Delete Student</button>
        </a>
        <a href="students/all">
        <button class="button" id="allStudents ">Show Student</button>
        </a>
        
        
        
        
    </div>
</body>
</html>
